@import "common.css";
body {
    background: url("../img/login-background.jpg") center no-repeat;
    background-size: cover;
}
.logo {
    width: 3rem;
    height: 3rem;
    background: url("../img/logo.svg") center no-repeat;
    background-size: cover;
}
